@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test Use Tage Helper  In  .Net </p>
</div>

<form>

    <text placeholder="ایمیل" required="وارد کنید " type="text" class-name="form-control" label="ایمیل " id="last"></text>

    <text placeholder="رمز عبور" required="وارد کنید " type="password" class-name="form-control" label="رمز عبور " id="pass"></text>

</form>

<cart
      show-count="3"
      >
    <product
             title="something"
          />
</cart>
